<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>zhongxia~站点入口</title>
    <link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
    <style type="text/css">
        body {
            font-family: '微软雅黑', cursive;
            background: #000;
            color: #FFF;
        }

        .title {
            margin: 50px auto;
            text-align: center;
        }

        .container {
            margin: 0 auto;
            padding: 50px;
        }

        /*Hover样式*/
        /*基本样式设置*/

        .ih-item {
            position: relative;
            -webkit-transition: all 0.35s ease-in-out;
            -moz-transition: all 0.35s ease-in-out;
            transition: all 0.35s ease-in-out;
        }

        .ih-item,
        .ih-item * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .ih-item a {
            color: #333;
        }

        .ih-item a:hover {
            text-decoration: none;
        }

        .ih-item img {
            width: 100%;
            height: 100%;
        }

        .ih-item.circle {
            position: relative;
            width: 220px;
            height: 220px;
            border-radius: 50%;
        }

        .ih-item.circle .img {
            position: relative;
            width: 220px;
            height: 220px;
            border-radius: 50%;
        }

        .ih-item.circle .img:before {
            position: absolute;
            display: block;
            content: '';
            width: 100%;
            height: 100%;
            border-radius: 50%;
            box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
            -webkit-transition: all 0.35s ease-in-out;
            -moz-transition: all 0.35s ease-in-out;
            transition: all 0.35s ease-in-out;
        }

        .ih-item.circle .img img {
            border-radius: 50%;
        }

        .ih-item.circle .info {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            border-radius: 50%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        /*hover的效果设置*/

        .ih-item.circle.effect13.colored .info {
            background: #1a4a72;
            background: rgba(26, 74, 114, 0.6);
        }

        .ih-item.circle.effect13 .info {
            background: #333333;
            background: rgba(0, 0, 0, 0.75);
            opacity: 0;
            pointer-events: none;
            -webkit-transition: all 0.35s ease-in-out;
            -moz-transition: all 0.35s ease-in-out;
            transition: all 0.35s ease-in-out;
        }

        .ih-item.circle.effect13 .info h3 {
            visibility: hidden;
            color: #fff;
            text-transform: uppercase;
            position: relative;
            letter-spacing: 2px;
            font-size: 22px;
            margin: 0 30px;
            padding: 55px 0 0 0;
            height: 110px;
            text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
            -webkit-transition: all 0.35s ease-in-out;
            -moz-transition: all 0.35s ease-in-out;
            transition: all 0.35s ease-in-out;
        }

        .ih-item.circle.effect13 .info p {
            visibility: hidden;
            color: #bbb;
            padding: 10px 5px;
            /*font-style: italic;*/
            margin: 0 30px;
            font-size: 12px;
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            -webkit-transition: all 0.35s ease-in-out;
            -moz-transition: all 0.35s ease-in-out;
            transition: all 0.35s ease-in-out;
        }

        .ih-item.circle.effect13 a:hover .info {
            opacity: 1;
        }

        .ih-item.circle.effect13 a:hover h3 {
            visibility: visible;
        }

        .ih-item.circle.effect13 a:hover p {
            visibility: visible;
        }

        .ih-item.circle.effect13.from_left_and_right .info h3 {
            -webkit-transform: translateX(-100%);
            -moz-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
            -o-transform: translateX(-100%);
            transform: translateX(-100%);
        }

        .ih-item.circle.effect13.from_left_and_right .info p {
            -webkit-transform: translateX(100%);
            -moz-transform: translateX(100%);
            -ms-transform: translateX(100%);
            -o-transform: translateX(100%);
            transform: translateX(100%);
        }

        .ih-item.circle.effect13.from_left_and_right a:hover h3 {
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
            transform: translateX(0);
        }

        .ih-item.circle.effect13.from_left_and_right a:hover p {
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
            transform: translateX(0);
        }

        .ih-item.circle.effect13.top_to_bottom .info h3 {
            -webkit-transform: translateY(-100%);
            -moz-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
            -o-transform: translateY(-100%);
            transform: translateY(-100%);
        }

        .ih-item.circle.effect13.top_to_bottom .info p {
            -webkit-transform: translateY(-100%);
            -moz-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
            -o-transform: translateY(-100%);
            transform: translateY(-100%);
        }

        .ih-item.circle.effect13.top_to_bottom a:hover h3 {
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateY(0);
        }

        .ih-item.circle.effect13.top_to_bottom a:hover p {
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateY(0);
        }

        .ih-item.circle.effect13.bottom_to_top .info h3 {
            -webkit-transform: translateY(100%);
            -moz-transform: translateY(100%);
            -ms-transform: translateY(100%);
            -o-transform: translateY(100%);
            transform: translateY(100%);
        }

        .ih-item.circle.effect13.bottom_to_top .info p {
            -webkit-transform: translateY(100%);
            -moz-transform: translateY(100%);
            -ms-transform: translateY(100%);
            -o-transform: translateY(100%);
            transform: translateY(100%);
        }

        .ih-item.circle.effect13.bottom_to_top a:hover h3 {
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateY(0);
        }

        .ih-item.circle.effect13.bottom_to_top a:hover p {
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateY(0);
        }
    </style>
</head>

<body>
<h1 id="square13" class="title">上帝不会只让苦难眷顾着你 . . .</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-3 col-xs-6">
            <!-- normal -->
            <div class="ih-item circle effect13 from_left_and_right">
                <a href="http://zhongxia.duapp.com/">
                    <div class="img"><img src="imgs/blog.jpg" alt="img"></div>
                    <div class="info">
                        <div class="info-back">
                            <h3>zhongxia的个人博客</h3>

                            <p>记录着工作、学习中的点滴，笔记在有道云笔记的里面，用open API分享出来</p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- end normal -->
        </div>
        <div class="col-sm-3 col-xs-6">
            <!-- normal -->
            <div class="ih-item circle effect13 top_to_bottom">
                <a href="http://zhongxia.duapp.com/nav/index.html">
                    <div class="img"><img src="imgs/nav.jpg" alt="img"></div>
                    <div class="info">
                        <div class="info-back">
                            <h3>前端导航网</h3>

                            <p>收集前端的常用的在线工具，优秀博客，优秀社区，优秀文章等</p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- end normal -->
        </div>
        <div class="col-sm-3 col-xs-6">
            <!-- normal -->
            <div class="ih-item circle effect13 bottom_to_top">
                <a href="http://zhongxia.duapp.com/login/">
                    <div class="img"><img src="imgs/admin.jpg" alt="img"></div>
                    <div class="info">
                        <div class="info-back">
                            <h3>数据维护</h3>

                            <p>维护前端导航网的数据和分类，以及用户信息</p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- end normal -->
        </div>
        <div class="col-sm-3 col-xs-6">
            <!-- normal -->
            <div class="ih-item circle effect13 from_left_and_right">
                <a href="#">
                    <div class="img"><img src="imgs/demo.png" alt="img"></div>
                    <div class="info">
                        <div class="info-back">
                            <h3>作品展示</h3>

                            <p>展示的不仅仅是个人的作品，还有网上收集的优秀模板，插件等</p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- end normal -->
        </div>
    </div>
</div>
</body>

</html>
