/*= reset*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

:focus {
    outline: 0;
}

ol, ul, li {
    list-style: none;
}

i, em {
    font-style: normal;
}

img {
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*= html5*/
article, aside, audio, bdi, canvas, command, datalist, details, figcaption, figure, footer, header, hgroup, keygen, mark, meter, nav, output, progress, rp, rt, ruby, section, source, summary, time, track, vedio {
    display: block
}

/*= base*/
html, body {
    height: 100%;
}

body {
    color: #666;
    font: 12px/170% "Microsoft Yahei", arial, "Lucida Grande", "Lucida Sans Unicode";
    background: #f2f2f2
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #fa7d3c
}

.clr:after {
    clear: both;
    content: '\0020';
    display: block;
    visibility: hidden;
    height: 0;
}

.clr {
    zoom: 1;
}

.hide, .spanclass {
    display: none;
}

.ht {
    text-indent: -9999px;
    overflow: hidden;
}

@font-face {
    font-family: 'iconfont';
    src: url('http://at.alicdn.com/t/font_1422284145_4374607.eot'); /* IE9*/
    src: url('http://at.alicdn.com/t/font_1422284145_4374607.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('http://at.alicdn.com/t/font_1422284145_4374607.woff') format('woff'), /* chrome銆乫irefox */ url('http://at.alicdn.com/t/font_1422284145_4374607.ttf') format('truetype'), /* chrome銆乫irefox銆乷pera銆丼afari, Android, iOS 4.2+*/ url('http://at.alicdn.com/t/font_1422284145_4374607.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont";
    font-size: 16px;
    font-style: normal;
}

.top {
    background: #fff;
    border-top: 2px solid #1abc9c;
    height: 60px;
    line-height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 100;
    box-shadow: 0 1px 2px #e1e1e1
}

.top-inner {
    max-width: 1100px;
    margin: 0 auto
}

.top-logo {
    float: left;
    width: 123px;
    height: 43px;
    background: url(http://www.w3cmark.com/images/logo2015.png) no-repeat;
    margin-top: 8px;
}

.top-nav {
    float: right;
}

.top-nav a {
    display: inline-block;
    padding: 0 15px;
    color: #999;
    font-size: 16px;
    float: left;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.top-nav a.cur, .top-nav a:hover {
    background: #1abc9c;
    color: #fff;
    text-decoration: none;
}

.top-nav .iconfont {
    font-size: 24px;
}

.search {
    position: fixed;
    top: 63px;
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    z-index: 100;
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.search-hover {
    height: 90px;
}

.search-inner {
    max-width: 600px;
    margin: 20px auto
}

.search-keyword {
    border: 1px solid #e7e7e7;
    height: 18px;
    padding: 15px 16px;
    width: 450px;
    border-right: 0;
    vertical-align: top;
}

.search-submit {
    border: 0;
    background: #1abc9c;
    height: 50px;
    line-height: 50px;
    width: 100px;
    text-align: center;
    color: #fff;
    vertical-align: top;
    font-size: 18px;
    cursor: pointer;
}

.search-submit:hover {
    background: #fa7d3c
}

.left-nav {
    position: fixed;
    left: 50%;
    top: 20%;
    z-index: 99;
    border-left: 2px solid #fff;
    width: 110px;
    margin-left: -660px;
}

.left-nav a {
    display: block;
    font-size: 16px;
    color: #999;
    margin: -5px 0 25px -6px;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.left-nav a:last-child {
    margin-bottom: -5px;
}

.left-nav a:hover, .left-nav a.cur {
    color: #1abc9c
}

.left-nav a span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #fff;
    margin-right: 10px;
    border-radius: 10px;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.left-nav a:hover span, .left-nav a.cur span {
    background: #1abc9c
}

.main {
    max-width: 1100px;
    margin: 95px auto 0
}

.wrap {
    margin-bottom: 30px;
}

.wrap h2 {
    width: 120px;
    text-align: center;
    line-height: 35px;
    height: 35px;
    color: #fff;
    font-weight: normal;
    font-size: 18px;
    background: #00a1cb
}

.wrap0 b {
    color: #00a1cb
}

.wrap1 h2 {
    background: #50b7c1
}

.wrap1 b {
    color: #50b7c1
}

.wrap2 h2 {
    background: #65c294
}

.wrap2 b {
    color: #65c294
}

.wrap3 h2 {
    background: #73b9a2
}

.wrap3 b {
    color: #73b9a2
}

.wrap4 h2 {
    background: #EFC028
}

.wrap4 b {
    color: #EFC028
}

.wrap5 h2 {
    background: #F29C9C
}

.wrap5 b {
    color: #F29C9C
}

.wrap6 h2 {
    background: #63bfb2
}

.wrap6 b {
    color: #63bfb2
}

.wrap-inner {
    background: #fff
}

.wrap-inner a {
    display: inline-block;
    float: left;
    width: 153px;
    padding: 15px;
    color: #666;
    font-size: 16px;
    border-bottom: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrap-inner a:nth-child(5n) {
    border-right: 0;
    width: 150px
}

.wrap-inner a span {
    line-height: 18px;
    height: 36px;
    overflow: hidden;
    display: block;
    font-size: 12px;
    color: #999;
    font-size: 12px;
    padding-top: 10px;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrap-inner a:hover {
    color: #fa7d3c;
    background: #fafafa
}

.wrap-inner a:hover b {
    color: #fa7d3c;
}

.wrap-inner a:hover span {
    color: #999;
}

.wrap-my {
    margin-bottom: 20px;
    display: none;
}

.wrap-my a {
    display: inline-block;
    background: #fff;
    color: #555;
    height: 38px;
    line-height: 38px;
    padding: 0 12px;
    font-size: 14px;
    margin: 0 10px 10px 0;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    box-shadow: 1px 1px 1px #eee
}

.wrap-my a span {
    display: none;
}

.wrap-my a b {
    font-weight: normal;
}

.wrap-my a:hover {
    background: #fa7d3c;
    color: #fff;
}

.footer {
    background: #2a2c2e;
    color: #aaa;
}

.footer a {
    color: #aaa;
}

.footer a:hover {
    color: #aaa;
    text-decoration: underline;
}

.footer-inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 50px 0;
}

.footer-inner p {
    display: inline-block;
    width: 365px;
    height: 120px;
    float: left;
}

.footer-inner .p1 {
    width: 340px;
    padding-left: 70px;
}

.footer-inner .p1 span {
    display: block;
}

.footer-inner .p2 {
    border-right: 1px solid #4d4f51;
    border-left: 1px solid #4d4f51;
    position: relative;
}

.footer-inner .p2 a {
    position: absolute;
}

.footer-inner .p2 .a1 {
    left: 50px;
    top: 10px;
}

.footer-inner .p2 .a2 {
    left: 100px;
    top: 55px;
}

.footer-inner .p2 .a3 {
    left: 150px;
    top: 95px;
}

.footer-inner .p2 .a4 {
    right: 100px;
    top: 55px;
}

.footer-inner .p2 .a5 {
    right: 50px;
    top: 10px;
}

.p1-logo {
    margin-bottom: 15px;
}

.p1-logo i {
    display: block;
    font-size: 18px;
}

.footer-inner .p3 {
    padding: 20px 0 0 100px;
    width: 220px;
    height: 100px;
}

.footer-inner .p3 span {
    display: block;
    padding-top: 10px;
}

.footer-inner .p3 a {
    display: inline-block;
    font-size: 30px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.footer-inner .p3 a:hover {
    text-decoration: none;
    color: #eee;
}

.footer-inner .p3 .wxicon {
    position: relative;
}

.footer-inner .p3 .wxicon img {
    position: absolute;
    width: 100px;
    background: #f2f2f2;
    top: 0px;
    right: -110px;
    display: none;
}

.footer-inner .p3 .wxicon:hover img {
    display: block;
}

.m-cmt {
    width: 1100px;
    margin: 0 auto 30px;
}

.m-cmt .wrap-inner {
    padding: 20px 20px 10px;
}

.m-cmt p.ptit {
    font-size: 18px;
    color: #fa7d3c
}

.go-top {
    position: fixed;
    right: 45px;
    bottom: 38px;
    z-index: 9999
}

.go-top a {
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
    border-radius: 3px;
    transition: all 500ms ease-in-out;
    margin-top: 10px;
}

.go-top a:hover {
    border-radius: 3px;
}

.go-top a::before {
    font-family: "iconfont";
    font-size: 36px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    color: #aaa;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
}

.go-top a:hover::before {
    color: #23CDAB
}

.go-top .a2::before {
    content: "\e60b";
}

.go-top .a1::before {
    content: "\e60c";
}