<link rel="stylesheet" href="blog/css/animate.css" />
<!--left-->
<div class="left" id="riji">
    <div class="weizi">
        <div class="wz_text">当前位置：<a href="#">首页</a>>
            <h1>个人日记</h1></div>
    </div>
    <div class="rj_content">
        <!--时光-->
        {{#each items}}
        <div class="shiguang animated bounceIn">
            <div class="left sg_ico">
                <img src="{{imgPath}}" width="120" height="120" alt="" />
            </div>
            <div class="right sg_text">
                <img src="blog/images/left.png" width="13" height="16" alt="左图标" /> {{content}}
            </div>
            <div class="clear"></div>
        </div>
        {{/each}}
        <!--时光 end-->
    </div>
</div>
<!--end left -->
<script type="text/javascript" src="blog/js/nav.js"></script>
