<!-- 0.0 导航列表(顶部菜单,左侧菜单) -->
<script id="nav" type="text/x-handlebars-template">
    {{#each}}
    {{#if active}}
    <li class="active"><a href="{{url}}" name="{{name}}">{{title}}</a></li>
    {{else}}
    <li><a href="{{url}}" name="{{name}}">{{title}}</a></li>
    {{/if}}
    {{/each}}
</script>
<!-- 1. 常用框架集 -->
<script id="nav_kjj" type="text/x-handlebars-template">
    {{#each}}
    <div class="col-xs-6  col-md-3">
        <a href="{{url}}" class="thumbnail" target="_blank">
            <img data-src="holder.js/100%x140" alt="{{title}}" src="{{img}}" data-holder-rendered="true" style="height: 140px; width: 100%; display: block;">

            <p>{{name}}</p>
        </a>
    </div>
    {{/each}}
</script>
<!-- 2. 博客列表 -->
<script id="nav_bkll" type="text/x-handlebars-template">
    <div class="list-group">
        {{#each}}
        {{#if active}}
        <a href="{{url}}" class="list-group-item active  col-md-5" title="{{title}}" target="_blank"><span class="badge">{{count}}</span>{{name}}</a>
        {{else}}
        <a href="{{url}}" class="list-group-item  col-md-5" title="{{title}}" target="_blank"><span class="badge">{{count}}</span>{{name}}</a>
        {{/if}}
        {{/each}}
    </div>
</script>
<!--面板方式的导航列表-->
<script id="nav_bkll_title" type="text/x-handlebars-template">
    <div class="col-xs-6 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
                {{#each}}
                {{#if active}}
                <a href="{{url}}" class="list-group-item active" title="{{title}}" target="_blank"><span class="badge">{{count}}</span>{{name}}</a>
                {{else}}
                <a href="{{url}}" class="list-group-item" title="{{title}}" target="_blank"><span class="badge">{{count}}</span>{{name}}</a>
                {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</script>