<!-- 0.0 导航列表(顶部菜单,左侧菜单) -->
<script id="nav" type="text/x-handlebars-template">
    {{#each}} 
	    {{#if active}}
	    <li class="active"><a href="{{url}}" name="{{name}}">{{title}}</a></li>
	    {{else}}
	    <li><a href="{{url}}" name="{{name}}">{{title}}</a></li>
	    {{/if}} 
    {{/each}}
</script>
<!-- 1. 常用框架集 -->
<script id="nav_kjj" type="text/x-handlebars-template">
    {{#each}}
    <div class="col-xs-6  col-md-3">
        <a href="{{url}}" class="thumbnail" target="_blank">
            <img data-src="holder.js/100%x180" alt="{{alt}}" src="{{img}}" data-holder-rendered="true" style="height: 150px; width: 100%; display: block;">
        	<p>{{alt}}</p>
        </a>
    </div>
    {{/each}}
</script>
<!-- 2. 博客列表 -->
<script id="nav_bkll" type="text/x-handlebars-template">
    <div class="list-group">
        {{#each}}
	        {{#if active}}
		    <a href="{{url}}" class="list-group-item active" title="{{title}}" target="_blank"><span class="badge">{{count}}</span>{{name}}</a>
		    {{else}}
		    <a href="{{url}}" class="list-group-item" title="{{title}}" target="_blank"><span class="badge">{{count}}</span>{{name}}</a>
		    {{/if}} 
        {{/each}}
    </div>
</script>
