<!-- 0.0 导航列表(顶部菜单,左侧菜单) -->
<script id="nav" type="text/x-handlebars-template">
    {{#each}}
    {{#if active}}
    <li class="active"><a href="{{url}}" name="{{name}}">{{title}}</a></li>
    {{else}}
    <li><a href="{{url}}" name="{{name}}">{{title}}</a></li>
    {{/if}}
    {{/each}}
</script>

<!-- 1. 导航页每一项的模板 -->
<script id="tpl_nav_v1" type="text/x-handlebars-template">
    {{#each}}
    <div class="col-xs-6  col-md-2">
        <a href="{{url}}" class="thumbnail" target="_blank" title="{{remark}}">
            <img alt="{{remark}}" src="{{img}}" data-holder-rendered="true" style="height: 140px; display: block;">

            <p title="{{name}}">{{name}}</p>
        </a>
    </div>
    {{/each}}
</script>

<!-- 1. 导航页每一项的模板 -->
<script id="tpl_nav_v2" type="text/x-handlebars-template">
    {{#each}}
    <div class="lists">
        <a href="{{url}}" class="thumbnail" target="_blank" title="{{remark}}">
            <div class="list-item" style="background:url({{img}}); -moz-background-size:100% 100%; background-size:100% 100%;">
                <div class="item-remark">
                    <div class="inner"> {{remark}}</div>
                </div>
            </div>
            <p title="{{name}}">{{name}}</p>
        </a>
    </div>
    {{/each}}
</script>

<!-- 1. 导航页每一项的模板[目前用的版本] -->
<script id="tpl_nav" type="text/x-handlebars-template">
    <h3 class="page-header" name="{{name}}">{{title}}</h3>
    <div class="row placeholders" id="id_{{name}}">
        {{#each items}}
        <section class="col-xs-6 col-sm-4  col-md-3 col-lg-2">
            <a class="thumbnail" href="{{url}}" target="_blank">
                <div title="{{name}}" class="item-title">
                    <strong style="font-size:12px;  ">{{name}}</strong>
                </div>

                <div class="item-remark" title="{{remark}}">
                    {{remark}}
                </div>
            </a>
        </section>
        {{/each}}
    </div>
</script>
